---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation ($companies: [CompanyInput], $people: [PersonInput])
        {\n          createMatch(\n            input: {\n              companies:
        $companies,\n              people: $people\n            }\n          ) {\n            id\n          }\n        }\n","variables":"{\"companies\":[{\"name\":null,\"location\":[null],\"url\":null,\"profileUrls\":[],\"positions\":[]}],\"people\":[{\"refId\":2,\"name\":\"Hugo
        Duksis\",\"email\":null,\"profileUrls\":[],\"resumeUrl\":null,\"skills\":[\"Javascript\",\"ruby\",\"elixir\",\"git\"]}]}"}'
    headers:
      Authorization:
      - Bearer yourtokengoeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"159-ip5At3FHeqyDbutWUewI5/QFKfI"
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [
            {
              "message": "Variable \"$companies\" got invalid value [{\"name\":null,\"location\":[null],\"url\":null,\"profileUrls\":[],\"positions\":[]}].\nIn element #0: In field \"name\": Expected \"String!\", found null.",
              "locations": [
                {
                  "line": 1,
                  "column": 19
                }
              ]
            }
          ]
        }
  recorded_at: Thu, 02 Nov 2017 10:08:09 GMT
recorded_with: VCR 3.0.3
