---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation ($companies: [CompanyInput], $people: [PersonInput])
        {\n          createMatch(\n            input: {\n              companies:
        $companies,\n              people: $people\n            }\n          ) {\n            id\n          }\n        }\n","variables":"{\"companies\":[{\"name\":\"MindMatch
        GmbH\",\"location\":[\"Berlin, Germany\"],\"url\":\"https://mindmatch.ai\",\"profileUrls\":[\"https://github.com/mindmatch\"],\"positions\":[{\"refId\":324,\"name\":\"Elixir
        Frontend Developer\",\"location\":\"Berlin, Berlin, Germany\",\"department\":\"Engineering\",\"description\":\"4+
        years experience with Ruby on Rails and API''s, and elixir JS\",\"technologies\":[\"Ruby\",\"Ruby
        on Rails\",\"Elixir\",\"API\"]}]}],\"people\":[{\"refId\":2,\"name\":\"Hugo
        Duksis\",\"location\":null,\"summary\":null,\"email\":\"hd@diaoma.com\",\"profileUrls\":[\"https://linkedin.com/in/duksis\",\"https://github.com/duksis\",\"https://twitter.com/duksis\"],\"resumeUrl\":null,\"skills\":[\"Javascript\",\"ruby\",\"elixir\",\"git\"],\"experienceEntries\":[],\"educationEntries\":[],\"meta\":{\"source\":\"Linkedin
        referral\"}}]}"}'
    headers:
      Authorization:
      - "<SECRET>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"61-Iyvcxh0wAOgcNuECEAlQGgXZTtE"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "createMatch": {
              "id": "c3f4e86d-def5-4565-a65a-656a652b3a54"
            }
          }
        }
  recorded_at: Wed, 21 Mar 2018 15:12:42 GMT
recorded_with: VCR 3.0.3
