---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation createMatch {\n          match: createMatch(\n            input:
        {\n              data: {\n                companies: [{ name: \"company\",
        location: [\"location\"], url: \"http://example.com\", profileUrls: [\"https://github.com/honeypotio\",
        \"https://linkedin.com/company/honeypot\"], positions: [{ refId: \"324\",
        name: \"Elixir Frontend Developer\", description: \"4+ years experience with
        Ruby on Rails and API''s, and elixir JS\" }] }],\n                people:
        [{ refId: \"2\", name: \"Hugo Duksis\", email: \"hd@diaoma.com\", profileUrls:
        [\"https://linkedin.com/in/duksis\", \"https://github.com/duksis\", \"https://twitter.com/duksis\"],
        resumeUrl: \"\", skills: [\"Javascript\", \"ruby\", \"elixir\", \"git\"] }]\n              }\n            }\n          )
        {\n            id\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-UgFewtKHjy6s1/Z5/UEXBP92MQU"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "1d7964c9-7219-4d77-aee3-ece7919f9af5"
            }
          }
        }
  recorded_at: Fri, 29 Sep 2017 10:03:31 GMT
recorded_with: VCR 3.0.3
