---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation createMatch {\n          match: createMatch(\n            input:
        {\n              data: {\n                companies: [{ name: \"company\",
        location: [\"location\"], url: \"http://example.com\", profileUrls: [\"https://github.com/honeypotio\",
        \"https://linkedin.com/company/honeypot\"], positions: [{ refId: \"324\",
        name: \"\", description: \"\" }] }],\n                people: [{ refId: \"2\",
        name: \"Hugo Duksis\", email: \"\", profileUrls: , resumeUrl: \"\", skills:
        [\"Javascript\", \"ruby\", \"elixir\", \"git\"] }]\n              }\n            }\n          )
        {\n            id\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokengoeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"302-0lyxQgoXTxUFVRSNt8jveCN67Fo"
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [
            {
              "message": "Syntax Error GraphQL request (6:96) Expected Name, found :\n\n5:                 companies: [{ name: \"company\", location: [\"location\"], url: \"http://example.com\", profileUrls: [\"https://github.com/honeypotio\", \"https://linkedin.com/company/honeypot\"], positions: [{ refId: \"324\", name: \"\", description: \"\" }] }],\n6:                 people: [{ refId: \"2\", name: \"Hugo Duksis\", email: \"\", profileUrls: , resumeUrl: \"\", skills: [\"Javascript\", \"ruby\", \"elixir\", \"git\"] }]\n                                                                                                  ^\n7:               }\n",
              "locations": [
                {
                  "line": 6,
                  "column": 96
                }
              ]
            }
          ]
        }
  recorded_at: Wed, 27 Sep 2017 16:51:01 GMT
recorded_with: VCR 3.0.3
