---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation createMatch {\n          match: createMatch(\n            input:
        {\n              data: {\n                companies: [{ name: \"MindMatch
        GmbH\", location: [\"Berlin, Germany\"], url: \"https://mindmatch.ai\", profileUrls:
        [\"https://github.com/mindmatch\"], positions: [{ refId: \"324\", name: \"Elixir
        Frontend Developer\", description: \"4+ years experience with Ruby on Rails
        and API''s, and elixir JS\" }] }],\n                people: [{ refId: \"2\",
        name: \"Hugo Duksis\", email: \"hd@diaoma.com\", profileUrls: [\"https://linkedin.com/in/duksis\",
        \"https://github.com/duksis\", \"https://twitter.com/duksis\"], resumeUrl:
        \"\", skills: [\"Javascript\", \"ruby\", \"elixir\", \"git\"] }]\n              }\n            }\n          )
        {\n            id\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-gOoy7Jtrhu4yV+JtF0maz0Y0D5M"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "f6645b3c-c504-4755-a9fa-1f74354a51f5"
            }
          }
        }
  recorded_at: Mon, 25 Sep 2017 15:10:03 GMT
recorded_with: VCR 3.0.3
