---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation ($companies: [CompanyInput], $people: [PersonInput])
        {\n          createMatch(\n            input: {\n              companies:
        $companies,\n              people: $people\n            }\n          ) {\n            id\n          }\n        }\n","variables":"{\"companies\":[{\"name\":\"MindMatch
        GmbH\",\"location\":[\"Berlin, Germany\"],\"url\":\"https://mindmatch.ai\",\"profileUrls\":[\"https://github.com/mindmatch\"],\"positions\":[{\"refId\":324,\"name\":\"Elixir
        Frontend Developer\",\"description\":\"4+ years experience with \\\"Ruby on
        Rails\\\" and API''s, and elixir JS\",\"technologies\":[\"Ruby\",\"Ruby on
        Rails\",\"Elixir\",\"API\"]}]}],\"people\":[{\"refId\":2,\"name\":\"Hugo Duksis\",\"location\":null,\"summary\":null,\"email\":\"hd@diaoma.com\",\"profileUrls\":[\"https://linkedin.com/in/duksis\",\"https://github.com/duksis\",\"https://twitter.com/duksis\"],\"resumeUrl\":null,\"skills\":[\"Javascript\",\"ruby\",\"elixir\",\"git\"],\"experienceEntries\":[],\"educationEntries\":[]}]}"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"61-/z5BmtzcVzAtOgZ3ahwnFLRP7zQ"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "createMatch": {
              "id": "7428f7c6-05d2-4adb-a431-f6b629e2b685"
            }
          }
        }
  recorded_at: Thu, 02 Nov 2017 16:55:39 GMT
recorded_with: VCR 3.0.3
