---
http_interactions:
- request:
    method: post
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        mutation createMatch {\n          match: createMatch(\n            input:
        {\n              data: {\n                companies: [{ name: \"company\",
        location: [\"location\"], url: \"http://example.com\", profileUrls: [\"https://github.com/honeypotio\",
        \"https://linkedin.com/company/honeypot\"], positions: [{ refId: \"324\",
        name: \"\", description: \"\" }] }],\n                people: [{ refId: \"2\",
        name: \"Hugo Duksis\", email: \"\", profileUrls: [], resumeUrl: \"\", skills:
        [\"Javascript\", \"ruby\", \"elixir\", \"git\"] }]\n              }\n            }\n          )
        {\n            id\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-Sx/ln0Q54EC0L2HzWrQ2saUXaMU"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "5e793080-4758-4ace-8d9c-02b082fd6615"
            }
          }
        }
  recorded_at: Fri, 29 Sep 2017 10:03:32 GMT
recorded_with: VCR 3.0.3
