---
http_interactions:
- request:
    method: get
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        query getMatch {\n          match: getMatch(id: \"addbff78-4631-4c05-86e5-8ddee2162a5e\")
        {\n            id\n            status\n            data {\n              results
        {\n                score\n                personId\n                positionId\n              }\n              people
        {\n                id\n                refId\n              }\n              positions
        {\n                id\n                refId\n              }\n            }\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85-6B4WllMrtM7TDM3OJuFa0Zz3K0o"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "addbff78-4631-4c05-86e5-8ddee2162a5e",
              "status": null,
              "data": null
            }
          }
        }
  recorded_at: Mon, 02 Oct 2017 16:12:21 GMT
recorded_with: VCR 3.0.3
