---
http_interactions:
- request:
    method: get
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        query ($id: String!) {\n          getMatch(id: $id)
        {\n            id\n            status\n            data {\n              results
        {\nscore\npersonId\npositionId\ncompanyId}\npeople {\nid\nrefId}\npositions
        {\nid\nrefId}\n\n            }\n          }\n        }\n","variables":"{\"id\":\"30bd7c5e-a70d-4ff1-8610-4ac7bed2ccbf\"}"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c4-I+trSCe4LyJd+ePMtJEV4hABkgQ"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "getMatch": {
              "id": "38eca5a6-3fde-4b3e-9a44-cfc0c3674e3c",
              "status": "fulfilled",
              "data": {
                "results": [
                  {
                    "score": 0.22283216230156327,
                    "personId": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "positionId": "9084a00003008113492111b0cdd14a7e",
                    "companyId": "32252ede8c1e5f24250f67eee4c31d11"
                  }
                ],
                "people": [
                  {
                    "id": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "refId": "2"
                  }
                ],
                "positions": [
                  {
                    "id": "9084a00003008113492111b0cdd14a7e",
                    "refId": "324"
                  }
                ]
              }
            }
          }
        }
  recorded_at: Tue, 24 Oct 2017 10:03:22 GMT
recorded_with: VCR 3.0.3
