---
http_interactions:
- request:
    method: get
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        query getMatch {\n          match: getMatch(id: \"6906ec3d-024d-43c6-a1cf-9b102eec4fb1\")
        {\n            id\n            status\n            data {\n              results
        {\n                score\n                personId\n                positionId\n              }\n              people
        {\n                id\n                refId\n              }\n              positions
        {\n                id\n                refId\n              }\n            }\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer XvtLRvsxNr4tOpmVpVFNWkJrxyc24hkjZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27d-SCfDV++tLf+dGbiQ19Hf+MfMdOc"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "6906ec3d-024d-43c6-a1cf-9b102eec4fb1",
              "status": "fulfilled",
              "data": {
                "results": [
                  {
                    "score": 0.1436655436,
                    "personId": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "positionId": "6214ab8d26e3f79571d922ca269d5743"
                  }
                ],
                "people": [
                  {
                    "id": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "refId": "2"
                  }
                ],
                "positions": [
                  {
                    "id": "6214ab8d26e3f79571d922ca269d5743",
                    "refId": "324"
                  }
                ]
              }
            }
          }
        }
  recorded_at: Mon, 25 Sep 2017 14:36:37 GMT
recorded_with: VCR 3.0.3
