---
http_interactions:
- request:
    method: get
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        query ($id: String!) {\n          getMatch(id: $id)
        {\n            id\n            status\n            results {\nscore\npersonId\npositionId\ncompanyId}\npeople
        {\nid\nrefId}\npositions {\nid\nrefId}\n\n          }\n        }\n","variables":"{\"id\":\"b55c8aba-8a64-4a2d-bee1-ecece8add36e\"}"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"284-hJSs0oxI/GZdD/3hrQI/h7MVMMs"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "getMatch": {
              "id": "b55c8aba-8a64-4a2d-bee1-ecece8add36e",
              "status": "fulfilled",
              "results": [
                {
                  "score": 0.22283216230156327,
                  "personId": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                  "positionId": "9084a00003008113492111b0cdd14a7e",
                  "companyId": "32252ede8c1e5f24250f67eee4c31d11"
                }
              ],
              "people": [
                {
                  "id": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                  "refId": "2"
                }
              ],
              "positions": [
                {
                  "id": "9084a00003008113492111b0cdd14a7e",
                  "refId": "324"
                }
              ]
            }
          }
        }
  recorded_at: Thu, 02 Nov 2017 16:55:00 GMT
recorded_with: VCR 3.0.3
