---
http_interactions:
- request:
    method: get
    uri: https://staging-api.mindmatch.ai/graphql
    body:
      encoding: UTF-8
      string: '{"query":"        query getMatch {\n          match: getMatch(id: \"6ecc0537-63ea-4a39-9d4c-e2c2b054b70d\")
        {\n            id\n            status\n            data {\n              results
        {\n                score\n                personId\n                positionId\n              }\n              people
        {\n                id\n                refId\n              }\n              positions
        {\n                id\n                refId\n              }\n            }\n          }\n        }\n"}'
    headers:
      Authorization:
      - Bearer yourtokencomeshere
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27d-CxmOZD0ZI8lGQH3H/4cxKiLxBZc"
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "match": {
              "id": "53b03dc2-07dd-40a2-91fe-7bff24c86574",
              "status": "fulfilled",
              "data": {
                "results": [
                  {
                    "score": 0.1436655436,
                    "personId": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "positionId": "6214ab8d26e3f79571d922ca269d5743"
                  }
                ],
                "people": [
                  {
                    "id": "7dedffb3-c41e-4046-aa3d-73979d7ec1c2",
                    "refId": "2"
                  }
                ],
                "positions": [
                  {
                    "id": "6214ab8d26e3f79571d922ca269d5743",
                    "refId": "324"
                  }
                ]
              }
            }
          }
        }
  recorded_at: Fri, 29 Sep 2017 10:03:32 GMT
recorded_with: VCR 3.0.3
